/* .CenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 116px);
} */

.container {
  display: flex;
  overflow: hidden;
  height: 65vh;
  min-height: 600px;
  border-radius: 20px;
  background-color: var(--main-surface-tertiary);
}

.expanded .sidebarRight {
  display: none;
}

.sidebarLeft,
.sidebarRight {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

.chatBody {
  flex: 1;
  background-color: var(--chat-body);
  /* overflow-y: auto; */
  min-width: 500px;
  border-radius: 0 20px 20px 0;
}

/* .sidebarLeft {
  border-right: 1px solid #333;
}

.sidebarRight {
  border-left: 1px solid #333;
} */
