.container {
  display: flex;
  height: 65vh;
  min-height: 600px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--main-surface-tertiary);
}

.expanded .sidebarRight {
  display: none;
}

.sidebarLeft,
.sidebarRight {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

.chatBody {
  flex: 1;
  background-color: var(--chat-body);
  /* overflow-y: auto; */
  min-width: 500px;
  border-radius: 0 20px 20px 0;
}

.noChatSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);
}

.noChatSelected p {
  margin-top: 10px;
  font-size: 1.2em;
}

/* .sidebarLeft {
  border-right: 1px solid #333;
}

.sidebarRight {
  border-left: 1px solid #333;
} */
