.container {
    /* max-height:  calc(100vh - var(--header-height) - var(--footer-height)); */
    /* width: 100vw; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: var(--color-game-screen-bg); */
    /* background-color: #1E2533; */
    background-color: #252e40;
    /* border-radius: 10px; */
    /* min-height: 600px; */
    /* box-shadow:
      0 4px 10px rgba(0, 0, 0, 0.6),
      0 2px 5px rgba(0, 0, 0, 0.4) inset; */
    /* padding: 30px; */
    color: var(--text-color);
    /* max-width: 1920px; */
    /* min-width: 778px; */
    /* margin: auto; */

}