.container {
  /* height: 100vh; */
  /* flex: 1; */

  border-radius: 12px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin-left: -545px; */
    /* margin-top: -353px;  */
    /* width: 1082px; */
    /* height: 698px; */
    /* max-width: 80%; */
    background-color: #f0f0f0;
    transform: scale(1); 
    transition: transform 0.3s ease-in-out;

    width: 80%;
    aspect-ratio: 16 / 9;
  }
