
.container {
  height: calc(100vh - 116px);
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  /* background-color: var(--color-game-screen-bg); */
  background-color: #1E2533;
  border-radius: 10px;
  /* min-height: 600px; */
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.6),
    0 2px 5px rgba(0, 0, 0, 0.4) inset;
  /* padding: 30px; */
  color: var(--text-color)
}

.topContainer {
  height: calc((100vh - 116px) / 2);
  display: flex;
}

.left {
  width: 50%;
  /* background-color: #86efac; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 0;
  padding: 20px;

    flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  /* width: 100%; */
  gap: 1.2rem; /* Adjust gap as needed */
}

.right {
  width: 50%;
  /* background-color: #bfdbfe; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 0 0;
  padding: 20px 20px 20px 0;

}

.bottomContainer {
  height: calc((100vh - 116px) / 2);
  /* background-color: #fef08a; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 0 20px 20px 20px;
  /* border: 1px solid #3b82f6 ; */
}

.innerContent {
  /* background-color: white; */
  padding: 0.5rem 2rem;
}


/* Card  */

.card {
  /* display: flex; */
  /* flex: 1; */
  background-color: transparent !important;
  border: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.6),
    0 2px 5px rgba(0, 0, 0, 0.4) inset !important;
  /* border: 1px solid red; */
}

.bottomCard {
    background-color: transparent !important;
  border: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* border: 1px solid red ; */

}

.header {
  background-color: rgba(31, 41, 55, 0.5);
  padding: 1.5rem;
}

.title {
  font-size: 2rem;
  color: var(--text-color);
}

.content {
  padding: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
  overflow: auto;
}
.bottomCardContent {
  padding: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
  overflow: auto;
  padding: 0 !important;
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.statContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.statItem {
  background-color: #374151;
  border-radius: 0.5rem;
  padding: 1rem;
}

.statHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statName {
  color: #ffffff;
}

.statValue {
  color: #3b82f6;
}

.progressBar {
  width: 100%;
  background-color: #4b5563;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.progressFill {
  background-color: #3b82f6;
  height: 100%;
  border-radius: 0.5rem;
}


/********* Modes *********/

.cardMode {
    background-color: transparent !important;
  border: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.6),
    0 2px 5px rgba(0, 0, 0, 0.4) inset !important;
  position: relative;
  overflow: hidden;
  background-color: #1f2937; /* Equivalent to bg-gray-800 */
  border: 0;
  transition: transform 0.3s ease, all 0.3s ease;
}

.cardHoveredMode {
  transform: scale(1.02);
}

.cardContentMode {
  height: 100%;
  padding: 1rem; /* Equivalent to p-4 */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.item {
  flex: 1 1 46%; /* 48% width to make 2 columns with some spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb; /* Light gray background */
  padding: 1rem;
  border-radius: 8px;
  height: 49%;
}

.iconMode {
  width: 6rem;
  height: 6rem;
  /* color: #3b82f6; */
  color: var(--text-color);
}

.titleMode {
  font-size: 1.8rem; /* Equivalent to text-lg */
  margin-top: 1rem; /* Equivalent to mt-2 */
}

.descriptionMode {
  color: #9ca3af; /* Equivalent to text-gray-400 */
  font-size: 1.2rem; /* Equivalent to text-xs */
  margin-top: 0.5rem; /* Equivalent to mt-1 */
}

.arrowIconMode {
  width: 1.25rem; /* Equivalent to w-5 */
  height: 1.25rem; /* Equivalent to h-5 */
  margin-top: 0.5rem; /* Equivalent to mt-2 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}

.arrowIconHoveredMode {
  opacity: 1;
  transform: translateX(0.5rem); /* Equivalent to translate-x-2 */
}






.matchmakingLoader {
  width: 150px;
  height: 140px;
}
.matchmakingLoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 116px);
}



.tournamentItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #374151;
    min-width: 400px;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.tournamentItem:not(:last-child) {
  margin-bottom: 10px;
}

.tournamentItem span {
  font-size: 1.2rem;
}


.rightAligned {
  text-align: right;
}

.tournamentDate, .tournamentPlayerCount {
  color: #9ca3af;
}
.tournamentStatus {
  text-transform: capitalize;
  color: #f87171;
  font-size: 1.8rem;

}
.tournamentName {
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  font-size: 2rem;

}

.loaderWrapper, .errorWrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noTournaments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #999999;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* border: 2px dashed #ddd; */
    /* border-radius: 8px; */
}
