.containerBody {
    height: 100%;
    display: flex;
  }
  .containerList {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.mtv {
  color: var(--text-color);
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}
  .line {
    width: 2px;
    height: 100%;
    background-color: #B0B9D0;
    position: relative;
  }

  .line::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: red;
    top: 7px;
    right: -3px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .header h3 {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .viewMore {
    font-size: 1.5rem;
    color: #B0B9D0;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .viewMore:hover {
    color: #7e8597;
  }
  

  .weekLabel {
    font-size: 1.5rem;
    color: #F8F3E3;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .matchList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .matchItem {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    gap: 1rem;
  }

  .matchItem::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    right: 0;
  }

  .green {
    background: linear-gradient(90deg, rgba(42, 43, 54, 0.5) 0%, rgba(239, 68, 68, 0.1) 100%);
  }

  .yellow {
    background: linear-gradient(90deg, #1E2533 0%, #2B374D 37%, #384B6C 100%);
  }

  .green::after {
    background-color: #FF2047;
  }

  .yellow::after {
    background-color: #5774a1;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .matchInfo {
    flex-grow: 1;
  }

  .name {
    display: block;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .date {
    display: block;
    font-size: 1rem;
    color: #B0B9D0;
  }

  .score {
    flex-grow: 1;
    font-size: 2rem;
    font-weight: bold;
    color: #F8F3E3;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
  }

  .YourGoals {
    color: #e6a700;
  }
  .opponentGoals {
    color: #ec3b59;
  }

  .pointsContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1e2533;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
  }

  .points {
    color: #ffb902;
    font-size: 1.5rem;
  }

  .noGames {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #F8F3E3;
}

.noGames span {
  text-align: center;
}

.playBtn {
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    gap: 1rem;
    background-color: var(--selected-color); ;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.3rem;
}

.playIcon {
    font-size: 2.2rem;
    color: #F8C25C;
}