messageInput {
  display: flex;
  flex-direction: column;
  padding: 10px 24px;
  color: var(--yt-live-chat-primary-text-color);
  background: var(
    --yt-live-chat-action-panel-background-color,
    var(--yt-deprecated-opalescence-soft-grey-opacity-lighten-3)
  );
  font-size: 14px;
  position: static;
  --yt-emoji-picker-renderer-content-margin: 0 24px;
  --yt-emoji-picker-category-margin-left: 24px;
}

chatHeader {
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
  font-size: var(--yt-live-chat-header-font-size, 18px);
  background-color: var(
    --yt-live-chat-header-background-color,
    var(--yt-deprecated-opalescence-soft-grey-opacity-lighten-3)
  );
  color: var(
    --yt-live-chat-header-text-color,
    var(--yt-live-chat-primary-text-color)
  );
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  display: var(--yt-live-chat-header-renderer-display, flex);
}

text-message-renderer {
  position: relative;
  font-size: 13px;
  padding: 4px 24px;
  overflow: hidden;
  contain: content;
  --yt-endpoint-color: var(
    --yt-live-chat-primary-text-color,
    var(--yt-deprecated-luna-black)
  );
  --yt-endpoint-hover-color: var(
    --yt-live-chat-primary-text-color,
    var(--yt-endpoint-color)
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

img {
  -webkit-user-drag: none;
  height: 24px;
  aspect-ratio: auto 24 / 24;
  width: 24px;
}
