.searchUsers {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    background-color: #d0d8e7;
    border-radius: 8px;
    padding: 0.5rem;
    color: #283245;
  }
  
  .searchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
  }
  
  .searchIcon {
    margin-right: 0.5rem;
  }
  
  .results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #394056;
    border: 1px solid #384b6c;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .results::-webkit-scrollbar {
    width: 8px;
  }
  
  .results::-webkit-scrollbar-thumb {
    background-color: #0e1725;
    border-radius: 8px;
  }
  
  .results::-webkit-scrollbar-track {
    background-color: #999ba0; 
    border-radius: 8px;
  }

  
  .userCard {
    background-color: #1e2533;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .userInfo {
    flex: 1;
  }
  
  .username {
    font-weight: bold;
  }
  
  .fullName {
    font-size: 0.85rem;
    color: #555;
  }

  .viewProfileBtn {
    padding: 8px 10px;
    background-color: #394056;
    color: #f8f3e3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
  }

  .viewProfileBtn:hover {
    background-color: #7892b8;
  }
  
  .noResults {
    padding: 1rem;
    text-align: center;
    color: #b0b9d0;
  }
  