.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  /* padding: 10px 20px; */
  margin-bottom: 20px;
}

.topbarLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchUsers {
  margin-left: 100px;
  width: 80%;
}
.iconButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.iconButton:hover {
  /* transform: scale(1.1); */
}

.counter {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(15px, -10px);
  border-radius: 50%;
  background-color: var(--color-brand--1);
  border: 1px solid var(--text-color);
}

.userAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.userName {
  color: var(--text-color);
  cursor: pointer;
}
.userAccount:hover {
  /* color: #007bff;
  text-shadow: 1px 1px 5px rgba(0, 123, 255, 0.7); */
  text-decoration: underline var(--text-color) 2px;
  /* transform: scale(1.1); */
}
.userIcon:hover {
  transform: scale(1.1);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}
.userIcon {
  width: 40px;
  border-radius: 50%;
}

.notifications {
  border: 1px solid black;
  background-color: black;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 60px;
  z-index: 99;
}