.inputContainer {
    /* display: flex; */
    position: relative;
    /* border: 1px solid aliceblue; */
    /* margin-top: 5px; */
    width: 270px;

}

.inputContainer input {
    background: #41506b;
    background-color: #2b4450;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px 10px;
    padding-left: 40px;
    width: 100%;
    font-size: medium;

}

.inputContainer img {
    position: absolute;
    top: 12px;
    left: 10px;
}

.inputContainer input:focus {
    background-color: #497285;
}

.inputContainer input::placeholder {
    text-align:start;
    font-size: large;
}