.entryArea {
    /* border: 1px solid aliceblue; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    height: 35%;
    align-items: center;
    justify-content: center;
}
