* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark--2);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    background-color: var(--color-dark--1);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/*
/* .signupForm {
    /* border: 1px solid aliceblue; 
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 60%;
    height: 70%;
    align-items: center;
    /* align-content: center; 
}

.entryArea{
    /* border: 1px solid aliceblue; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.entryArea input {
    /* background: #41506b; 
    background-color: #2b4450;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    margin-top: 5px;

    /* outline: none; 
}

.entryArea input:focus {
    background-color: #497285;
    border: 2px solid black;
    padding-left: 35px;
}

::placeholder {
    text-align: center;
    font-size: large;
}

.userIcon , .emailIcon , .passIcon {
    color: aliceblue;
    size: 2.2em;
    position: absolute;
    left: 10px;
}

.userIcon {
    top: 15px;
}

.emailIcon {
    top: 62px;
}

.passIcon {
    top: 110px;
}

.signupBtn {
    border: 1px solid black;
    width: 60%;
    height: 35px;
    border-radius: 20px;
    background-color: #07689f;
    color: azure;
    font-size: large;
    margin-bottom: 20px;
}

.signupBtn:hover {
    background-color: #0e6ac7;
}

.line {
    border: 1px solid white;
    width: 50px;
    height: 0px;
}

.orSignup {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

.orSignup p {
    font-size: small;
    color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}

.signGoogle {
    position: relative;
    display: flex;
}

.signGoogle button {
    height: 40px;
    width: 190px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: small;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
} 


/* .inputData {
    margin-top: 20px;
    background-color: #606470;
    border: 1px solid white;
} */

/* .inputData input {
    background-color: #606470;
} */

/* .box {
    background-color: var(--color-dark--1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px white solid;
    padding: 20px;
} */

/* .imageBox {
    width: 48%;
    height: 95%;
    border: 1px white solid;
    border-radius: 10px;
} */

/* .formBox {
    width: 48%;
    height: 95%;
    border: 1px white solid;
    border-radius: 10px;
} */

/* .inputs {
    padding-top: 25px;
    position: relative;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; 
} */

/* .userIcon {
    position: absolute;
    box-sizing: border-box;
    top: 35px;
    left: 20px;
} */

/* .emailIcon {
    position: absolute;
    box-sizing: border-box;
    top: 80px;
    left: 20px;
}

.passIcon {
    position: absolute;
    box-sizing: border-box;
    top: 120px;
    left: 20px;
}

::placeholder {
    text-align: center;
} */



/* input[type=text] {
    border: 2px solid white;
    width: 60%;
    padding: ;
} 
*/