.sidebar {
  position: relative;
  height: 100vh;
  width: 300px;
  background-color: var(--color-dark--1);
  /* transition-duration: 100ms; */
  padding-top: 2rem;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  height: 35px;
}

.closed {
  padding-top: 2rem;
  width: 80px;
}

.controller {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 5.5rem;
  border-radius: 50%;
  border: 1px solid #000000;
}

.norotate {
  width: 20px;
  transform: translate(50%, 0);
}

.rotate {
  width: 20px;
  transform: translate(50%, 0) rotate(180deg);
}

.logout {
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 20px 30px;
  margin: 0;

  color: var(--color-light--1);
  text-decoration: none;
  cursor: pointer;
}
.logout:hover {
  background-color: #575757;
  border-radius: 4px;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}
.logout > p {
  position: absolute;
}

.hidden {
  opacity: 0;
}

.open {
  opacity: 1;
  transform: translate(50px, 0);
  transition:
    opacity 1s ease,
    transform 0.5s ease;
}

.padding .logout {
  padding: 20px !important;
}

/* .navigation {
  height: auto  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
} */
/* .sidebar nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
} */
