.sidebar {
  position: fixed;
  min-height: 100vh;
  height: 100dvh;
  top: 0;
  z-index: 10;
  /* position: fixed; */
  /* width: 300px; */
  /* width: var(--nav-medium-width); */
  /* max-width: 300px;
  min-width: 300px; */
  background-color: var(--sidebar-surface-primary);
  /* transition-duration: 300ms; */
  padding-top: 1rem;
  /* overflow: auto; */

  /* min-width: 200px;
  max-width: 300px; */
  /* transition: width 0.3s ease; */
}

.menuBox {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* min-height: 100vh; */
  height: calc(100vh - 55px);
  /* height: auto; */
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 45px;
  scale: 1.4;
}

.controller {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 4.5rem;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  &:hover {
    scale: 1.1;
  }
}
.norotate {
  width: 20px;
  transform: translate(50%, 0);
}

.rotate {
  width: 20px;
  transform: translate(50%, 0) rotate(180deg);
}

.logout,
.darkMode {
  display: flex;
  position: relative;
  gap: 20px;
  align-items: center;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 15px 20px;
  margin: 0;

  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
.logout:hover,
.darkMode:hover {
  background-color: var(--sidebar-tab-hover);
  border-radius: 4px;
}
.bottom {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  /* margin-bottom: 10px; */
}
.logout > p {
  position: absolute;
  opacity: 1;
  transform: translate(50px, 0);
  /* transition:
    opacity 1s ease,
    transform 0.5s ease; */
}

@media screen and (max-width: 1264px) {
  .sidebar {
    width: var(--nav-narrow-width);
  }
  .logout > p {
    opacity: 0;
  }

  .logout,
  .darkMode {
    padding: 15px 20px !important;
  }

  .logo {
    height: 26px;
    margin-bottom: 10px;
    /* transition-duration: 0; */
  }
}

/* Medium Navigation (Tablet/Default View) */
@media screen and (min-width: 1264px) and (max-width: 1919px) {
  .sidebar {
    width: var(--nav-medium-width);
  }
}

/* Wide Navigation (Desktop/Expanded View) */
@media screen and (min-width: 1920px) {
  .sidebar {
    width: var(--nav-wide-width);
  }
}
