#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  box-sizing: border-box;
}

.canvas {
  padding: 10px;
  box-sizing: border-box !important;
  top: 100px;
  left: 100px;
  position: absolute;
  border: 3px solid orangered;
  border-radius: 16px;
}
