.profileHeaderContainer {
    width: 100%;
    height: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileBackground {
    background-image: url('/rachid.png');
    width: 95%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.othersProfile {
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 200px;
    height: 50px; */
    background-color: #283245;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px 15px; */
    border-radius: 5px;
    /* cursor: pointer; */
    /* font-size: 17px; */
}

.friendsStat {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.friendState {
    /* width: 80%;
    height: 100%; */
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem;
    padding: 1.5rem; */
    background-color: #1e2533;
    color: #f8f3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s, transform 0.2s;
    font-size: 2rem;
    border-radius: 8px;
    /* padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    background-color: #1e2533;
    color: #f8f3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}

.friendStatBtn {
    /* border: 1px solid white; */
    /* width: 100%;
    height: 100%; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    /* border: none; */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    background-color: #1e2533;
    color: #f8f3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.friendsStateIcon {
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.moreIcon {
    color: #f8f3e3;
    width: 40px;
    height: 50px;
    border-radius: 8px;
    padding: 5px 10px;
    background: #1e2533;
    font-size: 2.5rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.showMore {
    background: #1e2533;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blockBtn, .messageBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 30px;
    border-radius: 8px;
}

.blockBtn {
    background-color: #ef4444;
}

.messageBtn {
    background-color: #517abc;
}

.editProfileBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #283245;
    color: var(--text-color);
    border: none;
    display: flex;
    gap: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    gap: 1rem;
}

.addFriendBtn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    background-color: #1e2533;
    color: #f8f3e3;
}

.profileCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 130px;
    height: 178px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
}

.avatarContainer {
    width: 130px;
    height: 130px;
    position: relative;
    display: inline-block;
}

.profileAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 150px; */
    /* height: 150px; */
    border-radius: 25px;
    border: 5px solid #f0a500;
    /* background-color: #1a1a2e; */
}

@media screen and (max-height: 1000px) {
    .avatarContainer {
        width: 100px;
        height: 100px;
    }
    .badgeIcon {
        width: 30px;
        height: 30px;
    }
    .profileCard {
        width: 100px;
        height: 150px;
        left: 50%;
        top: 25%;
    }
    .profileAvatar {
        border-radius: 20px;
        border: 3px solid #f0a500;
    }
  }

.profileLevel {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0a500;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.profileCard h2 {
    font-size: 2rem;
    font-weight: bold;
}

.profileStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 40%;
    background-color: #1e2533;
    border-radius: 20px;
    border-top: 5px solid #5774a0;
}

.leftStats {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.rightStats {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.statValue {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.badgeIcon {
    width: 40px;
    height: 40px;
}



.statLabel {
  color: #9699b0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.totalGames, .wins, .loses, .score, .rank, .badge {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 1rem;
    border-radius: 16px;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-height: 1000px) {
    .badgeIcon {
        width: 30px;
        height: 30px;
    }
    .totalGames, .wins, .loses, .score, .rank, .badge {
        height: 70px;
        width: 80px;
        padding: 0.5rem;
    }
    .statValue {
        display: block;
        font-size: 1.8rem;
    }
    .profileCard h2 {
        font-size: 1.5rem;
    }
  }

.badge {
    padding: 1rem;
}

.totalGames:hover, .wins:hover, .loses:hover, .score:hover, .rank:hover, .badge:hover {
    transform: translateY(-2px);
}

.totalGames {
    background: linear-gradient(180deg, #384B6C 0%, #2B374D 63%, #1E2533 100%);
    border-top: 4px solid #517abc;
}

.wins {
    background: linear-gradient(180deg, rgba(245, 158, 11, 0.1) 0%, rgba(42, 43, 54, 0.5) 100%);
    border-top: 4px solid #f59e0b;
}

.loses {
    background: linear-gradient(180deg, rgba(239, 68, 68, 0.1) 0%, rgba(42, 43, 54, 0.5) 100%);
    border-top: 4px solid #ef4444;
}

.score {
    background: linear-gradient(180deg, #384B6C 0%, #2B374D 63%, #1E2533 100%);
    border-top: 4px solid #517abc;
}

.rank {
    background: linear-gradient(180deg, #384B6C 0%, #2B374D 63%, #1E2533 100%);
    border-top: 4px solid #517abc;
}

.badge {
    background: linear-gradient(180deg, #384B6C 0%, #2B374D 63%, #1E2533 100%);
    border-top: 4px solid #517abc;
}
