@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --black-secondary: rgb(13, 13, 13);
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;

  --color-brand--1: #ff2047;
  --color-brand--2: #f8c25c;

  --text-color: #f8f3e3;
  --color-active: #d6192e;
  --color-game-mode-bg: #151e2d;

  --main-surface-primary: #283245;
  --main-surface-secondary: #1d2738;
  --main-surface-tertiary: #0e1725;
  --sidebar-surface-primary: #1e2738;
  --sidebar-tab-hover: #575757;
}

[data-theme='dark'] {
  --main-surface-primary: var(--gray-800);
  --main-surface-secondary: var(--gray-750);
  --main-surface-tertiary: var(--black-secondary);

  --sidebar-surface-primary: var(--gray-900);
  --sidebar-tab-hover: var(--gray-750);

  --sidebar-surface-secondary: var(--gray-800);

  --color-game-mode-bg: var(--gray-800);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--sidebar-surface-primary);
}

body {
  /* font-family: "Manrope", sans-serif; */
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

/* input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
} */

input:focus {
  outline: none;
  background-color: #fff;
}

/* .cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--sidebar-surface-primary);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
} */

/* "importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
 */
